<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Commande client/fournisseur</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-boutton-action></app-boutton-action>
    </div>
  </div>


  <div class="col m-3">
    <div class="row m-3">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <app-detail-cmd-clt-frs></app-detail-cmd-clt-frs>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse " data-bs-parent="#accordionExample" style="max-height:300px; overflow-y:scroll">
          <div class="accordion-body">
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
            <app-detail-cmd></app-detail-cmd>
          </div>
        </div>
            <div class="card-footer">
              <div class="row">
                <div class="col-md-6 text-left">
                  <h5>7 articles commandes</h5>
                </div>
                <div class="col-md-6 text-right">
                  <h5>Total commande: 100</h5>
                </div>
              </div>
            </div>
      </div>
    </div>
    </div>
  </div>


<!--  <div class="col m-2">-->
<!--    <div class="accordion" id="accordionExample2">-->

<!--      <div class="accordion-item">-->
<!--        <h2 class="accordion-header">-->
<!--          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">-->
<!--            <app-detail-cmd-clt-frs></app-detail-cmd-clt-frs>-->
<!--          </button>-->
<!--        </h2>-->
<!--        <div id="collapseTwo" class="accordion-collapse collapse " data-bs-parent="#accordionExample2" style="max-height:300px; overflow-y:scroll">-->
<!--          <div class="accordion-body">-->
<!--            <app-detail-cmd></app-detail-cmd>-->
<!--            <app-detail-cmd></app-detail-cmd>-->
<!--            <app-detail-cmd></app-detail-cmd>-->
<!--            <app-detail-cmd></app-detail-cmd>-->
<!--            <app-detail-cmd></app-detail-cmd>-->
<!--            <app-detail-cmd></app-detail-cmd>-->
<!--            <app-detail-cmd></app-detail-cmd>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->


  <div class="row mb-3">
    <div class="col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>
</div>




